.App{
  min-height: 100vh;
}

.headerMain{
    font-size: 60px;
    font-family: 'Sacramento', cursive;
}

.headerSubscript{
    color: #7f7f7f;
    line-height: 90px;
}

.headerSubscript > span {
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
}

.headerRow{
    border-bottom: 2px solid black;
}

.footer{
    border-top: 2px solid black;
}

.footer > div > div > a {
  text-decoration: none;
  font-size: 1.5rem;
}

.footer > div > a:hover{
  text-decoration: underline;
  color: #0056b3
}

.noticeMessage{
  color: #17a2b8;
}

.awayMessage{
  color: #dc3545;
}

.mainImage{
    width: 100%;
    height: 450px;
    border-radius: .75rem;
}

.prevButton{
  border-top-left-radius: .75rem;
  border-bottom-left-radius: .75rem;
}

.nextButton{
  border-top-right-radius: .75rem;
  border-bottom-right-radius: .75rem;

}

.arrangementContainer{
  box-shadow: 0.5rem 1rem 0.75rem rgba(0,0,0,.175);
  border-radius: 1.5rem !important;
  text-decoration: none;
}

.arrangementContainer > div > img{
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  height: auto;
  width: 100%;
}

.addonCard{
  border-radius: 1.5rem !important;
  cursor: pointer;
  padding-left: 5px !important;
}

.addonCard > div > img{
  border-top-left-radius: 1.5rem !important;
  border-top-right-radius: 1.5rem !important;
}

.custom-select{
    width: 100% !important;
    padding-left: 0.1rem !important;
    padding: 0.375rem 1rem;
    border: 1px solid #ced4da;
    color: #495057;
    background-color: #fff;
    vertical-align: middle;
    display: inline-block;
    border-radius: .75rem;
}

.custom-select:focus-visible{
  outline: none;
}

.pagination{
    justify-content: center;
    margin-bottom: 1rem;
    border-radius: 0.25rem
}

.pageItem.active .pageLink{
    z-index: 2;
    color: #fff !important;
    background-color: #868e96;
    border-color: #007bff;
}

.pageItem.disabled .pageLink{
    color: #868e96 !important;
    pointer-events: none;
    background-color: #fff;
    border-color: #ddd;
}

.pageLink{
    cursor: pointer;
    display: block;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    color: #868e96 !important;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #ddd;
}

.arrangementContainer{
  cursor: pointer;
}


.sortContainer{
    justify-content: left;
}

.filterContainer{
    justify-content: right;
}

.viewButton{
    width: 75%;
}

.addonContainer{
    padding: 0;
}

.addonButton{
  border-radius: 1.75rem !important;
  height: 75px;
  width: 75px;
  border-width: 1.5px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.discountButton{
  border-radius: 1rem !important;
}

.btn-check:checked + .addonButton, :not(.btn-check) + .addonButton:active, .addonButton:first-child:active, .addonButton.active, .addonButton.show {
  box-shadow: 0 8px 16px 0 rgba(0, 101, 210, 0.4), 0 6px 20px 0 rgba(0, 101, 210, 0.4);
}

.btn-check:checked + .btn-outline-custom, :not(.btn-check) + .btn-outline-custom:active, .btn-outline-custom:first-child:active, .btn-outline-custom.active, .btn-outline-custom.show {
  box-shadow: 0 1px 4px 0 rgba(0, 101, 210, 0.4), 0 1px 10px 0 rgba(0, 101, 210, 0.4);
}

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}


.btn-outline-secondary {
  --bs-btn-color: #6c757d;
  --bs-btn-border-color: #6c757d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #fff !important;
  --bs-btn-hover-border-color: rgb(0, 101, 210);
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #fff !important;
  --bs-btn-active-border-color: #0065d2 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6c757d;
  --bs-gradient: none;
}

.btn-outline-custom {
  --bs-btn-color: #6c757d !important;
  --bs-btn-border-color: #6c757d !important;
  --bs-btn-hover-color: #6c757d !important;
  --bs-btn-hover-bg: #fff !important;
  --bs-btn-hover-border-color: #6c757d !important;
  --bs-btn-focus-shadow-rgb: 108, 117, 125 !important;
  --bs-btn-active-color: #000 !important;
  --bs-btn-active-bg: #fff !important;
  --bs-btn-active-border-color: #6c757d !important;
  --bs-btn-active-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #6c757d !important;
  --bs-btn-disabled-bg: #fff !important;
  --bs-btn-disabled-border-color: #fff !important;
  --bs-gradient: none !important;
}

.addonDescription{
    padding: .25rem;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    position: absolute;
}
.w-130{
    width: 130px;
}

.form-group{
    width: 100%;
}

.formContainer{
    border: 1px solid #ced4da
}






.result-message {
    line-height: 22px;
    font-size: 16px;
  }

.result-message a {
color: rgb(89, 111, 214);
font-weight: 600;
text-decoration: none;
}


.card-error {
    color: red;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-top: 12px;
    text-align: center;
  }

  #card-element {
    border-radius: 4px 4px 0 0;
    padding: 12px;
    border: 1px solid rgba(50, 50, 93, 0.1);
    max-height: 44px;
    width: 100%;
    background: white;
    box-sizing: border-box;
  }

  .hidden {
    display: none;
  }


  .spinner,
  .spinner:before,
  .spinner:after {
    border-radius: 50%;
  }
  
  .spinner {
    color: #ffffff;
    font-size: 22px;
    text-indent: -99999px;
    margin: 0px auto;
    position: relative;
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 0 2px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  
  .spinner:before,
  .spinner:after {
    position: absolute;
    content: "";
  }
  
  .spinner:before {
    width: 10.4px;
    height: 20.4px;
    background: undefined;
    border-radius: 20.4px 0 0 20.4px;
    top: -0.2px;
    left: -0.2px;
    -webkit-transform-origin: 10.4px 10.2px;
    transform-origin: 10.4px 10.2px;
    -webkit-animation: loading 2s infinite ease 1.5s;
    animation: loading 2s infinite ease 1.5s;
  }
  
  .spinner:after {
    width: 10.4px;
    height: 10.2px;
    background: undefined;
    border-radius: 0 10.2px 10.2px 0;
    top: -0.1px;
    left: 10.2px;
    -webkit-transform-origin: 0px 10.2px;
    transform-origin: 0px 10.2px;
    -webkit-animation: loading 2s infinite ease;
    animation: loading 2s infinite ease;
  }


  .modal-content{
      border-radius: 1.5rem;
  }

  .modalHeader{
      padding-top: 3rem;
      font-weight: 600;
      font-size: 1.3rem;
      color:#394047;
  }

  .modal-title{
    background-image: linear-gradient(#f5f5f7,#e9e9ea);
  }

  .modal-email{
      font-weight: 500;
      color:#394047;
      border-top: 1px solid #adadad;
      border-bottom: 1px solid #bdbdbd;
      background-image: linear-gradient(#f5f5f7,#e9e9ea);
  }

  .modalImage{
    width: 76px;
    height: 75px;
    position: absolute;
    left: 50%;
    margin-left: -38px;
    top: -45px;
    background: url("https://checkout.stripe.com/v3/images/icon-border-Uz9anqiDNVCgXMysAAWGQ.png") no-repeat;
  }

  .modalImage > img{
    border-radius: 32px;
    margin: 4px 6px 0;
    background: #fff;
    width: 64px;
    height: 64px;
    display: block;
  }

  .ios-stretch-fix{
    height: instrinsic;
  }

  .react-datepicker-wrapper{
    width: 100%;
  }

  .promo-input{
    border: 1px solid #dee2e6;
    padding: 0.375rem 0.75rem;
    padding-left: 0;
    border-radius: 0.375rem;
    margin-right: 0.5rem;
  }

  .mh-77-83{
    min-height: 83vh;
  }
  .ReactModal__Overlay{
    z-index: 10;
    background-color: rgba(108, 117, 125, 0.85) !important
  }

  @media (max-width: 576px) {
    .mainImage{
      height: 370px;
    }

    .arrangementCardDetails{
      padding-bottom: 12px !important;
      padding-top: 8px !important;
      padding-left: 8px !important;
      padding-right: 8px !important;
    }

    .arrangementTitle{
      margin-bottom: 0px !important;
    }


    .mh-77-83{
      min-height: 77vh;
    }

  }